.tech-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: var(--secondary);
}

.tech-grid {
  width: 80%;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 80px;
  gap: 15px;
}

.tech-container h2 {
  width: 60%;
  margin-top: 100px;
  font-size: var(--mobile-title);
}

.tech-container span {
  color: var(--third);
}

.tech-container p {
  width: 80%;
  font-size: var(--mobile-p);
}

@media screen and (min-width: 760px) {
  .tech-grid {
    grid-auto-rows: 100px;
    gap: 20px;
  }

  .tech-container h2 {
    font-size: var(--pad-title);
    margin-top: 250px;
  }

  .tech-container p {
    width: 80%;
    font-size: var(--pad-p);
  }
}

@media screen and (min-width: 992px) {
  .tech-grid {
    width: 55%;
    grid-auto-rows: 100px;
    gap: 20px;
  }

  .tech-container h2 {
    font-size: var(--desktop-title);
    margin-top: 250px;
  }

  .tech-container p {
    width: 80%;
    font-size: var(--desktop-p);
  }
}
