.tech-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.tech-grid {
  width: 80%;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 80px;
  gap: 15px;
}

.tech-container h1 {
  font-size: 3rem;
}

.tech-container p {
  width: 80%;
  font-size: 1.5rem;
}

@media screen and (min-width: 760px) {
  .tech-grid {
    grid-auto-rows: 100px;
    gap: 20px;
  }

  .tech-container h1 {
    font-size: 5rem;
  }

  .tech-container p {
    width: 80%;
    font-size: 2.5rem;
  }
}
