.about-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: var(--secondary);
  font-weight: 500;
  overflow-x: hidden;
  position: relative;
}

.about-wave {
  position: absolute;
  width: 200%;
  left: 0;
  top: 0;
}

.about-me-svg {
  position: absolute;
  height: 30%;
  width: 32%;
  top: 1%;
  left: 5%;
  z-index: 1000;
}

.title {
  margin-top: 115px;
  margin-left: 90px;
  margin-bottom: 0px;
  font-size: var(--mobile-title);
}

.title span {
  color: var(--third);
}

.about-container p {
  margin-top: 30px;
  margin-bottom: 60px;
  width: 68%;
  font-size: var(--mobile-p);
  line-height: 1.8rem;
}

@media screen and (min-width: 760px) {
  .about-wave {
    width: 210%;
  }

  .about-me-svg {
    position: absolute;
    height: 40%;
    left: 90px;
  }

  .title {
    margin-top: 240px;
    margin-bottom: 20px;
    margin-left: 250px;
    text-align: center;
    font-size: var(--pad-title);
  }

  .about-container p {
    margin-top: 50px;
    margin-bottom: 150px;
    font-size: var(--pad-p);
    width: 75%;
    line-height: 2.7rem;
  }
}

@media screen and (min-width: 992px) {
  .about-container {
    align-items: flex-end;
  }

  .about-wave {
    width: 180%;
  }

  .about-me-svg {
    position: absolute;
    height: 65%;
    width: 30%;
    left: 90px;
  }

  .title {
    width: 60%;
    margin-top: 450px;
    margin-right: 80px;
    text-align: center;
    font-size: var(--desktop-title);
  }

  .about-container p {
    margin-top: 50px;
    margin-bottom: 300px;
    margin-right: 100px;
    font-size: var(--desktop-p);
    width: 55%;
    line-height: 3rem;
  }
}

@media screen and (min-width: 1600px) {
  .about-container {
    align-items: flex-end;
  }

  .about-wave {
    width: 180%;
  }

  .about-me-svg {
    position: absolute;
    height: 80%;
    width: 30%;
    left: 90px;
  }

  .title {
    width: 60%;
    margin-top: 450px;
    margin-right: 80px;
    text-align: center;
    font-size: var(--desktop-title);
  }

  .about-container p {
    margin-top: 50px;
    margin-bottom: 300px;
    margin-right: 100px;
    font-size: var(--desktop-p);
    width: 55%;
    line-height: 3rem;
  }
}
