.about-wrapper {
  height: 130vh;
  width: 100vw;
  background: rgba(245, 244, 244, 0.959);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.about-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #00061f;
  font-weight: 500;
}

.unseen {
  opacity: 0;
}

.animation-side {
  width: 95%;
  height: 1%;
  background-color: #4da8da;
  border-bottom: 2px solid #007cc7;
  animation: 2.5s slideinbar;
}

.animation-text {
  margin-top: 100px;
  height: 5%;
  font-size: 3rem;
  color: #00061f;
  animation: 2.5s slideintext;
}

.about-container p {
  margin-top: 50px;
  width: 80%;
  height: 70%;
  font-size: 1.7rem;
  line-height: 1.9rem;
}

@keyframes slideinbar {
  from {
    transform: translateX(-400px) scale(0.1);
  }
}
@keyframes slideintext {
  from {
    transform: translateX(400px) scale(0.1);
  }
}

@media screen and (min-width: 992px) {
  .about-container {
    margin-top: 100px;
  }
  .about-container h1 {
    font-size: 7rem;
  }

  .about-container p {
    margin-top: 120px;
    font-size: 3rem;
    width: 65%;
    line-height: 3.5rem;
  }

  .animation-side {
    margin-top: 10px;
    width: 90%;
    height: 3%;
  }

  .animation-text {
    text-align: center;
    width: 80%;
    height: 10%;
    font-size: 4rem;
  }

  @keyframes slideinbar {
    from {
      transform: translateX(-1200px) scale(0.1);
    }
  }

  @keyframes slideintext {
    from {
      transform: translateX(1200px) scale(0.1);
    }
  }
}
