.about-container {
  background: rgba(245, 244, 244, 0.959);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: #00061f;
  font-weight: 500;
  overflow: hidden;
}

.unseen {
  opacity: 0;
}

.animation-side {
  width: 85%;
  height: 0.2%;
  background-color: var(--secondary);
  border-bottom: 2px solid #007cc7;
  animation: 2.5s slideinbar;
}

.animation-text {
  height: 0.5%;
  margin-top: 50px;
  margin-bottom: 10px;
  font-size: var(--mobile-title);
  color: #00061f;
  animation: 2.5s slideintext;
}

.about-container p {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 80%;
  height: 60%;
  font-size: var(--mobile-p);
  line-height: 1.8rem;
}

@keyframes slideinbar {
  from {
    transform: translateX(-400px) scale(0.1);
  }
}
@keyframes slideintext {
  from {
    transform: translateX(400px) scale(0.1);
  }
}

@media screen and (min-width: 760px) {
  .about-container {
    height: 100vh;
  }

  .about-container p {
    margin-top: 0px;
    margin-bottom: 0;
    font-size: var(--pad-p);
    height: 60%;
    width: 70%;
    line-height: 2.7rem;
  }

  .animation-text {
    margin-bottom: 20px;
    text-align: center;
    width: 80%;
    font-size: var(--pad-title);
  }

  @keyframes slideinbar {
    from {
      transform: translateX(-1000px) scale(0.1);
    }
  }

  @keyframes slideintext {
    from {
      transform: translateX(1000px) scale(0.1);
    }
  }
}

@media screen and (min-width: 992px) {
  .about-container {
    height: 110vh;
  }

  .about-container p {
    margin-top: 110px;
    font-size: var(--desktop-p);
    width: 60%;
    line-height: 3rem;
  }

  .animation-side {
    width: 75%;
    height: 0.5%;
  }

  .animation-text {
    margin-top: 150px;
    text-align: center;
    width: 80%;
    height: 10%;
    font-size: var(--desktop-title);
  }

  @keyframes slideinbar {
    from {
      transform: translateX(-1200px) scale(0.1);
    }
  }

  @keyframes slideintext {
    from {
      transform: translateX(1200px) scale(0.1);
    }
  }
}
