.card {
  height: 60vh;
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10%;
  background-image: url("../../images//projects//svg/blob.svg");
  background-size: 280%;
  background-repeat: no-repeat;
  background-position-y: 150px;
  background-position-x: -100px;
  text-shadow: -1px 2px 3px var(--primary);
  position: relative;
  margin-top: 150px;
}

.card-animation {
  animation: 0.7s ease-in-out fade-in;
}

.unseen {
  opacity: 0;
}

.svg-char {
  width: 20%;
  height: 10%;
  position: absolute;
  bottom: -25px;
  right: 10px;
  z-index: 1000;
  transform: scale(2);
}

.project-image {
  position: absolute;
  top: -35px;
  left: -20px;
  height: 13%;
  width: 35%;
  border-radius: inherit;
  box-shadow: -1px 2px 3px -2px #000000;
}

.card-content {
  position: absolute;
  top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  line-height: 1.1rem;
  color: var(--w-text);
  margin-top: 10px;
  height: 90%;
  width: 70%;
}

.project-links {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.project-links a {
  padding: 0.5em 0;
  text-decoration: none;
  color: var(--w-text);
  font-size: 0.7rem;
}

.card-content h2 {
  color: #ffb9b9;
  color: var(--third);
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  margin: 0;
}

.card-content h4 {
  font-size: 1.1em;
  font-weight: 500;
  margin: 0;
}

.card-content ul {
  list-style-type: none;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  margin: 0;
  padding: 0;
}

.card-content li {
  font-size: 0.9em;
  font-weight: 300;
  margin: 10px 0;
}

.project-links a:hover {
  color: #d4d4d4;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(150px) scale(0.9);
  }
}

@media screen and (min-width: 760px) {
  .card {
    height: 60vh;
    width: 80%;
    margin-top: 250px;
  }

  .svg-char {
    bottom: -35px;
  }

  .project-image {
    top: -80px;
    left: -50px;
    height: 25%;
  }

  .card-content {
    line-height: 1.8rem;
    top: 40px;
    height: 90%;
  }

  .project-links {
    margin-top: 15px;
  }

  .project-links a {
    padding: 0.4em 0;
    font-size: 1rem;
  }

  .card-content h2 {
    font-size: 2.6rem;
    font-weight: 600;
    text-align: start;
    width: 50%;
  }

  .card-content h4 {
    padding-top: 15px;
    font-size: 1.85rem;
  }

  .card-content li {
    font-size: 1.4rem;
    font-weight: 100;
    margin: 10px 0;
  }
}

@media screen and (min-width: 992px) {
  .card {
    background-size: 60%;
    background-position-y: center;
    background-position-x: 380px;
    height: 65vh;
    width: 60%;
    border-radius: 50%;
  }

  .svg-char {
    height: 30%;
    width: 17%;
  }

  .project-image {
    position: absolute;
    top: 30%;
    left: -5%;
    height: 50%;
    width: 13%;
    border-radius: 5%;
  }

  .card-content {
    line-height: 1.6rem;
    height: 80%;
    width: 80%;
  }

  .project-links {
    position: absolute;
    top: 30%;
    left: 5px;
    width: 25%;
  }

  .project-links a {
    padding: 0 0.5rem;
    text-decoration: none;
    color: var(--w-text);
    font-size: 0.9rem;
  }

  .card-content h2 {
    position: absolute;
    top: 50%;
    left: 30px;
    font-size: 2.2rem;
  }

  .card-content h4 {
    position: absolute;
    top: 63%;
    left: 30px;
    width: 33%;
    font-size: 1.4rem;
  }

  .card-content ul {
    position: absolute;
    top: 15%;
    right: 10%;
    width: 35%;
  }

  .card-content li {
    font-weight: 100;
    margin: 10px 0;
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 1600px) {
  .card {
    background-size: 60%;
    background-position-x: 400px;
  }

  .svg-char {
    height: 28%;
    width: 20%;
  }

  .card-content {
    line-height: 1.9rem;
  }

  .project-links {
    width: 20%;
  }

  .project-links a {
    font-size: 1rem;
  }

  .card-content h2 {
    font-size: 2.5rem;
    width: 45%;
  }

  .card-content h4 {
    font-size: 1.6rem;
    width: 25%;
  }

  .card-content ul {
    position: absolute;
    top: 25%;
    right: 15%;
    width: 40%;
  }

  .card-content li {
    font-weight: 100;
    margin: 10px 0;
    font-size: 1.3rem;
  }
}
