.card {
  height: 18%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary);
  border-radius: 5%;
  overflow: hidden;
  box-shadow: -1px 2px 7px -1px #000000;
  animation: 1s ease-in-out fade-in;
}

.unseen {
  opacity: 0;
}

.project-image {
  height: 28%;
  width: 100%;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: var(--w-text);
  margin-top: 10px;
  height: 80%;
  width: 90%;
}

.project-links {
  margin-top: 25px;
  width: 100%;
  background: var(--secondary);
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.project-links a {
  padding: 0.5em 0;
  text-decoration: none;
  color: var(--w-text);
  font-size: 0.7rem;
}

.card-content h2 {
  color: var(--secondary);
  font-size: 1.6rem;
  font-weight: 600;
  margin: 0;
}

.card-content h4 {
  font-size: 1.1em;
  font-weight: 500;
  margin: 0;
}

.card-content ul {
  list-style-type: none;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  margin: 0;
  padding: 0;
}

.card-content li {
  font-size: 0.9em;
  font-weight: 300;
  margin: 10px 0;
}

.project-links a:hover {
  color: #d4d4d4;
}

@keyframes fade-in {
  from {
    opacity: 0.4;
    transform: translateY(500px) translateZ(500px) scale(0.6);
  }
}

@media screen and (min-width: 760px) {
  .card {
    height: 17%;
    width: 90%;
  }

  .project-image {
    height: 30%;
  }

  .card-content {
    height: 60%;
  }

  .project-links {
    margin-top: 15px;
  }

  .project-links a {
    padding: 1em 0;
    font-size: 1rem;
  }

  .card-content h2 {
    color: var(--secondary);
    font-size: 2.6rem;
    font-weight: 600;
  }

  .card-content h4 {
    font-size: 1.85rem;
  }

  .card-content li {
    font-size: 1.6rem;
    font-weight: 100;
    margin: 10px 0;
  }
}

@media screen and (min-width: 992px) {
  .card {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 15%;
    width: 70%;
    border-radius: 5%;
    box-shadow: -2px 1px 3px -1px #000000;
    position: relative;
    overflow: hidden;
  }

  .project-image {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 26%;
    border-top-left-radius: 0;
    border-top-right-radius: 2%;
    border-bottom-right-radius: 2%;
  }

  .card-content {
    align-items: flex-start;
    height: 80%;
    width: 80%;
  }

  .project-links {
    margin-top: 0px;
    height: 100%;
    width: 7%;
    overflow: hidden;
    flex-direction: column;
  }

  .project-links a {
    padding: 0 0.5rem;
    text-decoration: none;
    color: var(--w-text);
    font-size: 1rem;
  }

  .card-content h2 {
    font-size: 2.5rem;
  }

  .card-content h4 {
    font-size: 1.5rem;
  }

  .card-content ul {
    width: 60%;
  }

  .card-content li {
    font-weight: 100;
    margin: 10px 0;
    font-size: 1.05rem;
  }
}
