.home-body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  overflow: hidden;
}

.bg {
  height: 40%;
  width: 60%;
  position: absolute;
  bottom: 28px;
  z-index: 1000;
}

.bg-wave {
  width: 470%;
  position: absolute;
  bottom: 0;
  right: 0;
}

@media screen and (min-width: 760px) {
  .bg {
    height: 45%;
    width: 60%;
  }

  .bg-wave {
    width: 350%;
  }
}

@media screen and (min-width: 992px) {
  .bg {
    height: 85%;
    width: 45%;
    right: 50px;
  }

  .bg-wave {
    width: 150%;
    left: 0;
  }
}
