.home-body {
  height: 102vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
  position: relative;
  /* background-image: url(../../images/homebg.jpg); */
}

.video-tag {
  z-index: -100;
  position: absolute;
  top: 0px;
  left: 0px;
}
