.contact-me {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

.contact-me h2 {
  margin-top: 95px;
  margin-bottom: 2px;
  font-size: var(--mobile-title);
  color: var(--secondary);
}

.contact-me span {
  color: var(--third);
}

.contact-svg {
  position: absolute;
  top: 88%;
  left: 5%;
  width: 27%;
  height: 20%;
}

.contact-icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  overflow: hidden;
  font-size: 0.7rem;
}

.contact-icons i {
  color: var(--third);
  background-color: var(--w-text);
}

.contact-me p {
  margin: 25px 0px;
  color: var(--secondary);
  font-size: var(--mobile-p);
}

.contact-form {
  background-color: var(--w-text);
  height: 350px;
  width: 57%;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: 2px solid var(--third);
  border-radius: 5%;
  overflow: hidden;
  margin: 0;
}

.contact-form input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px var(--w-text) inset;
  -webkit-text-fill-color: var(--secondary);
}

.contact-form input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 50px var(--w-text) inset;
  -webkit-text-fill-color: var(--secondary);
}

.contact-form input {
  margin-bottom: 20px;
  padding: 8px;
  border: none;
  border-bottom: 1px solid var(--third);
  width: 95%;
  font-size: 18px;
  color: var(--primary);
  background: transparent;
}
.contact-form input:focus {
  outline: 1px solid var(--third);
}

.contact-form textarea {
  margin-top: 20px;
  padding: 8px;
  height: 50%;
  width: 95%;
  font-size: 18px;
  background: transparent;
  color: var(--primary);
  border: none;
  border-bottom: 1px solid var(--third);
}

.contact-form textarea:focus {
  outline: none;
}

.contact-form textarea:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px var(--secondary) inset;
  -webkit-text-fill-color: var(--w-text);
}

.contact-form textarea:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 50px var(--secondary) inset;
  -webkit-text-fill-color: var(--w-text);
}

.contact-form button {
  margin-top: 20px;
  padding: 10px 30px;
  background-color: var(--third);
  border: 1px solid var(--primary);
  border-radius: 10%;
}

.contact-form button:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.contact-form i {
  background-color: var(--third);
}

.err-text {
  margin: 0px;
  color: var(--primary);
  font-size: 0.6rem;
}

@media screen and (min-width: 760px) {
  .contact-form {
    height: 580px;
    width: 52%;
  }
  .contact-me h2 {
    margin-top: 120px;
    margin-bottom: 10px;
    font-size: var(--pad-title);
  }

  .contact-svg {
    top: 85%;
    left: 4%;
    width: 28%;
  }

  .contact-icons {
    width: 30%;
    margin-bottom: 0px;
    font-size: 1rem;
  }

  .contact-icons i {
    background-color: var(--w-text);
  }

  .contact-me p {
    font-size: var(--pad-p);
  }

  .contact-form input {
    font-size: 22px;
    width: 80%;
  }

  .contact-form input:focus {
    outline: 1px solid var(--secondary);
  }

  .contact-form textarea {
    font-size: 22px;
    width: 80%;
  }

  .err-text {
    font-size: 0.8rem;
    font-weight: 300;
  }
}

@media screen and (min-width: 992px) {
  .contact-form {
    height: 500px;
    width: 30%;
  }

  .contact-me h2 {
    margin-top: 120px;
    margin-bottom: 20px;
    font-size: var(--desktop-title);
  }

  .contact-svg {
    left: 21.5%;
    width: 20%;
  }

  .contact-icons {
    width: 20%;
  }

  .contact-icons i {
    background-color: var(--w-text);
  }

  .contact-icons i:hover {
    color: var(--secondary);
    background-color: var(--w-text);
  }

  .contact-me p {
    font-size: var(--desktop-p);
  }
}

@media screen and (min-width: 1600px) {
  .contact-svg {
    left: 22.1%;
  }
}
