@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Concert+One&display=swap");

:root {
  --primary: #12232e;
  --secondary: #074e77;
  --third: #4da8da;
  --w-text: #f6fbfb;
  --mobile-p: 1.1rem;
  --pad-p: 1.9rem;
  --desktop-p: 1.8rem;
  --mobile-title: 2.2rem;
  --pad-title: 3.3rem;
  --desktop-title: 3.3rem;
}

body {
  background-color: var(--w-text);
  font-family: "Concert One", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.top-container {
  margin: 50px 0;
  width: 100vw;
  text-align: center;
}

.btn-top {
  transform: scale(2);
  color: var(--secondary);
  background-color: var(--primary);
  border-radius: 50%;
  box-shadow: -1px 2px 3px -1px #000000;
}

.btn-top:hover {
  cursor: pointer;
  animation: 1s ease-in-out top infinite;
}

@keyframes top {
  0% {
    transform: translateY(0px) scale(2);
  }

  50% {
    transform: translateY(-5px) scale(2.2);
  }

  100% {
    transform: translateY(0px) scale(2);
  }
}
