@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");

body {
  font-family: "Playfair Display", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.screen-container {
  height: 150vh;
  background-color: rgba(2, 2, 2, 0.924);
}

.btn-top {
  transform: scale(2);
  cursor: pointer;
  animation: fadeIn 0.3s;
}

.btn-top:hover {
  cursor: pointer;
  transform: scale(2.2);
}
